# REQUIRED: Server connection details
HOMEPAGE_VAR_SERVER_IP=
HOMEPAGE_VAR_SERVER_HOSTNAME=

# Pi-Hole API key and admin login password
HOMEPAGE_VAR_PIHOLE_KEY=
FTLCONF_webserver_api_password=

# SpeedTest API key
APP_KEY=
HOMEPAGE_VAR_SPEEDTEST_KEY=

# VaultWarden password manager Token and URL
ADMIN_TOKEN=
HOMEPAGE_VAR_VAULTWARDEN_URL=
